
.transform:hover {
    transform: scale(1.009);
}

.search {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
}
.search:active{
    border: none;
}

#edit:active{
    border: none;
}

.lineclamp{
    max-width: 250px;
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0px 0px 10px 0px;
}